schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tei="http://www.tei-c.org/ns/1.0"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           targetNamespace="http://www.tei-c.org/ns/1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>


  
  <!-- root  -->
  <xs:element name="TEI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:teiHeader"/>
        <xs:element ref="tei:facsimile"/>
        <xs:element ref="tei:text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- teiHeader -->
  <xs:element name="teiHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:fileDesc"/>
        <xs:element ref="tei:profileDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- fileDesc -->
  <xs:element name="fileDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:titleStmt"/>
        <xs:element ref="tei:editionStmt"/>
        <xs:element ref="tei:publicationStmt"/>
        <xs:element ref="tei:sourceDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- titleStmt -->
  <xs:element name="titleStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="author" type="xs:string" minOccurs="2" maxOccurs="unbounded"/>
        <xs:element name="respStmt">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resp" type="xs:string"/>
              <xs:element name="name" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- editionStmt  -->
  <xs:element name="editionStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="edition" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- publicationStmt -->
  <xs:element name="publicationStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="publisher" type="xs:string"/>
        <xs:element name="pubPlace" type="xs:string"/>
        <xs:element name="date" type="xs:string"/>
        <xs:element name="availability">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="p" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- sourceDesc -->
  <xs:element name="sourceDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="p" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- profileDesc  -->
  <xs:element name="profileDesc">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="langUsage">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="language">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="ident" type="xs:string" use="required"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
  
  <!-- facsimile  -->
  <xs:element name="facsimile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="surface" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="graphic">
                <xs:complexType>
                  <xs:attribute name="url" type="xs:string"/>
                  <xs:attribute name="width" type="xs:string"/>
                  <xs:attribute name="height" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="zone" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute ref="xml:id" use="required"/>
                  <xs:attribute name="points" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- text  -->
<xs:element name="text">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="body">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pb" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="n" type="xs:string"/>
                <xs:attribute name="facs" type="xs:string" use="optional"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="opener">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="date">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="facs" type="xs:string"/>
                          <xs:attribute name="when" type="xs:string"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="div">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice maxOccurs="unbounded">
                    
                    <xs:element name="p" maxOccurs="unbounded">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:choice minOccurs="0" maxOccurs="unbounded">
                            
                            <xs:element name="gap" minOccurs="0">
                              <xs:complexType>
                                <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                    <xs:attribute name="reason" type="xs:string"/>
                                  </xs:extension>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>
                            
                            <xs:element name="said">
                              <xs:complexType mixed="true">
                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                                <xs:attribute name="direct" type="xs:boolean"/>
                              </xs:complexType>
                            </xs:element>

                            <xs:element name="persName" minOccurs="0" maxOccurs="unbounded">
                             <xs:complexType mixed="true">
                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                  <xs:element name="surname" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType mixed="true">
                                      <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                        <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                                <xs:anyAttribute/>
                              </xs:complexType>
                            </xs:element>

                            <xs:element name="placeName" minOccurs="0">
                              <xs:complexType>
                                <xs:simpleContent>
                                  <xs:extension base="xs:string"/>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>

                            <xs:element name="unclear">
                              <xs:complexType mixed="true">
                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>

                            <xs:element name="del" minOccurs="0">
                              <xs:complexType mixed="true">
                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                  <xs:any processContents="lax"/>
                                </xs:sequence>
                                <xs:attribute name="rend" type="xs:string"/>
                              </xs:complexType>
                            </xs:element>

                            <xs:element name="lb" minOccurs="0">
                              <xs:complexType>
                                <xs:simpleContent>
                                  <xs:extension base="xs:string"/>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>

                            <xs:element name="add" minOccurs="0">
                              <xs:complexType>
                                <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                    <xs:attribute name="place" type="xs:string"/>
                                  </xs:extension>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>

                            <xs:element name="num">
                              <xs:complexType mixed="true">
                                <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                    <xs:attribute name="value" type="xs:string"/>
                                  </xs:extension>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>

                            <xs:element name="reference">
                              <xs:complexType>
                                <xs:simpleContent>
                                  <xs:extension base="xs:string">
                                    <xs:attribute name="target" type="xs:string"/>
                                  </xs:extension>
                                </xs:simpleContent>
                              </xs:complexType>
                            </xs:element>

                            <xs:element name="dq" type="xs:string"/>

                          </xs:choice>
                        </xs:sequence>
                        <xs:attribute name="facs" type="xs:string" use="optional"/>
                        <xs:attribute name="id" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="pb" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="n" type="xs:string" use="optional"/>
                        <xs:attribute name="facs" type="xs:string" use="optional"/>
                      </xs:complexType>
                    </xs:element>

                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
